*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul li {
  list-style: none;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.calculator {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  box-shadow: 0 0 20px 1px #eee;
}

.display {
  grid-column: 1/5;
  padding: 20px;
  color: #fff;
  background-color: #333;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
}

.clear {
  grid-column: 1/4;
}

.zero {
  grid-column: 1/3;
}

.btn { 
  width: 100%;
  height: 100%;
  background-color: #eee;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease;
}

.btn:hover {
  border-color: #ffa500;
  border-width: 2px;
}

.btn:active {
  scale: 0.9;
}

.btnDisabled {
  opacity: 0.5;
}

.operator {
  background-color: orange;
  color: #fff;
}

.operator:hover {
  border-color: #fff;
}

.inputValue {
  color: #fff;
}

